{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Side</title>
    <link rel="stylesheet" href="{% static 'teacher/css/home.css' %}" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
      integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/53411d17ec.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="site-header">
      <div class="site-identity">
        <a href="#"
          ><img
            src="/media/college_data_white_lableling/logo.jpg"
            alt="ABC College"
        /></a>
        <h1><a>ABC College</a></h1>
        <a style="float: right" href="{% url 'teacherlogout' %}"
          ><i
            class="fa fa-sign-in fa-2x"
            aria-hidden="true"
            style="color: red"
          ></i>
        </a>
      </div>
    </header>
    <div class="container-fluid">
      {% if message %} {% autoescape off %} {{ message }} {% endautoescape %} {% endif %}
      <form method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label"><b>Title : </b></label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            required
            placeholder="Enter Title For Note "
          />
        </div>
        <div class="form-file mb-3">
          <input
            type="file"
            class="form-file-input"
            id="customFile"
            name="note"
            required
          />
          <label class="form-file-label" for="customFile">
            <span class="form-file-text">Upload Note ...</span>
            <span class="form-file-button">Browse</span>
          </label>
        </div>
        <div class="mb-3">
          <select
            class="form-select"
            aria-label="Default select example"
            name="course"
            required
          >
            <option disabled selected>Choose Preferred Course</option>
            <option value="it">IT</option>
            <option value="cse">CSE</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">
          Add Note
        </button>
      </form>
    </div>
    <div class="footer">
      <table>
        <tr>
          <td><b>Email ID : </b></td>
          <td><a href="mailto:a@a.com">a@a.com</a></td>
        </tr>
        <tr>
          <td><b>Phone No : </b></td>
          <td>52596652</td>
        </tr>
      </table>
    </div>
  </body>
</html>
