{% extends 'topleveladmin/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'topleveladmin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'topleveladmin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'topleveladmin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">

{% endblock head %}

{% block content %}
    {% if message %}
        {% autoescape off %}
            {{ message }}
        {% endautoescape %}
    {% endif %}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">All Notes</h3>
        </div>
        <div class="card-body">
          <table id="tb" class="table table-bordered table-striped">
            <thead>
              <tr>
                  <th>Title</th>
                  <th>Course</th>
                  <th>Uploaded By</th>
                  <th>View</th>
                  <th>Uploaded On</th>
              </tr>
            </thead>
            <tbody>
            {% for note in notes %}
                <tr>
                <td>{{ note.title }}</td>
                <td>{{ note.course }}</td>
                <td>{{ note.teachername }}</td>
                <td><a href="{{ note.link }}" target="_top">Click Here To View</a></td>
                <td>{{ note.created_on }}</td>
                </tr>
            {% endfor %}

            </tbody>
            <tfoot>
              <tr>
                  <th>Name</th>
                  <th>Phone No</th>
                  <th>Email Address</th>
                  <th>Designation</th>
                  <th>Action Buttons</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
<!-- Modal -->

{% endblock content %}


{% block js %}
<script src="{% static 'topleveladmin/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>


<script src="{% static 'topleveladmin/plugins/Buttons-1.6.3/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/Buttons-1.6.3/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/JSZip-2.5.0/jszip.min.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/Buttons-1.6.3/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/Buttons-1.6.3/js/buttons.print.min.js' %}"></script>

<script>
$(function () {
$('#tb').DataTable({
    dom: 'Bfrtip',
    buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
    ],
  "paging": true,
  "lengthChange": true,
  "searching": true,
  "ordering": true,
  "info": false,
  "autoWidth": false,
  "responsive": true,
});
});
</script>
{% endblock js %}
    