{% extends 'topleveladmin/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'topleveladmin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'topleveladmin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'topleveladmin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
<script>
  //var csrftoken = Cookies.get('csrftoken');
  var csrftoken = $.cookie('csrftoken');
function csrfSafeMethod(method) {
// these HTTP methods do not require CSRF protection
return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
  $.ajaxSetup({
  beforeSend: function(xhr, settings) {
  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
  xhr.setRequestHeader("X-CSRFToken", csrftoken);
  }
  }
});
</script>
{% endblock head %}

{% block content %}
    {% if message %}
        {% autoescape off %}
            {{ message }}
        {% endautoescape %}
    {% endif %}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">All Teacher Datas</h3>
        </div>
        <div class="card-body">
          <table id="tb" class="table table-bordered table-striped">
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Phone No</th>
                  <th>Email Address</th>
                  <th>Designation</th>
                  <th>Action Buttons</th> <!-- Approve Edit Delete View  -->
              </tr>
            </thead>
            <tbody>
            {% for i in teachers %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.phoneno }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.designation }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-success btn-sm" href="/adminn/teacheredit/{{ i.id }}" style="font-weight: bold;color: white;">Edit</a>
                            <a class="btn btn-danger btn-sm" href="/adminn/teacherdatas/?id={{ i.id }}" style="font-weight: bold;color: white;">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
            <tfoot>
              <tr>
                  <th>Name</th>
                  <th>Phone No</th>
                  <th>Email Address</th>
                  <th>Designation</th>
                  <th>Action Buttons</th> <!-- Approve Edit Delete View  -->
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
<!-- Modal -->

{% endblock content %}


{% block js %}
<script src="{% static 'topleveladmin/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>


<script src="{% static 'topleveladmin/plugins/Buttons-1.6.3/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/Buttons-1.6.3/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/JSZip-2.5.0/jszip.min.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/Buttons-1.6.3/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'topleveladmin/plugins/Buttons-1.6.3/js/buttons.print.min.js' %}"></script>

<script>
$(function () {
$('#tb').DataTable({
    dom: 'Bfrtip',
    buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
    ],
  "paging": true,
  "lengthChange": true,
  "searching": true,
  "ordering": true,
  "info": false,
  "autoWidth": false,
  "responsive": true,
});
});
</script>
{% endblock js %}
    